.header a{
    width: 100px;
    margin: auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.header a:hover{
    background-color: blue;
}

.header {
    background-color: deepskyblue;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.link {
    padding: 0px;
}